# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
.next
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.firebase/techmeister/functions/.env
.firebase/techmeister/functions/next.config.js
.firebase/techmeister/functions/package-lock.json
.firebase/techmeister/functions/package.json
.firebase/techmeister/functions/public/vite.svg
.firebase/techmeister/hosting/_not-found.html
.firebase/techmeister/hosting/404.html
.firebase/techmeister/hosting/vite.svg
.firebase/techmeister/hosting/_next/static/TaKxDSkh_azKTEgD2BL81/_buildManifest.js
.firebase/techmeister/hosting/_next/static/TaKxDSkh_azKTEgD2BL81/_ssgManifest.js
.firebase/techmeister/hosting/_next/static/chunks/4bd1b696-21f374d1156f834a.js
.firebase/techmeister/hosting/_next/static/chunks/69b09407-02bd5a415ae200bd.js
.firebase/techmeister/hosting/_next/static/chunks/139.7a5a8e93a21948c1.js
.firebase/techmeister/hosting/_next/static/chunks/209-c46bc79d0f389d8e.js
.firebase/techmeister/hosting/_next/static/chunks/255-6a3064acda041a34.js
.firebase/techmeister/hosting/_next/static/chunks/590-a34efbac807698c5.js
.firebase/techmeister/hosting/_next/static/chunks/619-ba102abea3e3d0e4.js
.firebase/techmeister/hosting/_next/static/chunks/646.f342b7cffc01feb0.js
.firebase/techmeister/hosting/_next/static/chunks/934-e32adaa268e92ee2.js
.firebase/techmeister/hosting/_next/static/chunks/framework-a6e0b7e30f98059a.js
.firebase/techmeister/hosting/_next/static/chunks/main-84db86de0b1e797a.js
.firebase/techmeister/hosting/_next/static/chunks/main-app-aa28e4af18b7d4df.js
.firebase/techmeister/hosting/_next/static/chunks/polyfills-42372ed130431b0a.js
.firebase/techmeister/hosting/_next/static/chunks/webpack-a84a9126ea6a1821.js
.firebase/techmeister/hosting/_next/static/chunks/app/layout-29f3e5e0e22509a6.js
.firebase/techmeister/hosting/_next/static/chunks/app/not-found-2deaf550c3dd04bc.js
.firebase/techmeister/hosting/_next/static/chunks/app/page-7290fc892179d71c.js
.firebase/techmeister/hosting/_next/static/chunks/app/_not-found/page-f187ad254cc1b0eb.js
.firebase/techmeister/hosting/_next/static/chunks/app/contact/page-2349d635efe689e4.js
.firebase/techmeister/hosting/_next/static/chunks/app/project/\[slug]/page-c4dccaf675d668f3.js
.firebase/techmeister/hosting/_next/static/chunks/pages/_app-82835f42865034fa.js
.firebase/techmeister/hosting/_next/static/chunks/pages/_error-013f4188946cdd04.js
.firebase/techmeister/hosting/_next/static/css/c70e9477ea229254.css
.firebase/techmeister/functions/server.js
.firebase/hosting.LmZpcmViYXNlXHRlY2htZWlzdGVyXGhvc3Rpbmc.cache
